header p{
text-align: left;
}
.caja {
width: 300px;
padding: 20px;
border: 10px solid #007bff;
margin: auto;
margin-bottom: 3%;


}

.caja-content {
box-sizing: content-box;
background-color: #ffe0b2;
border: 10px solid #ff6600;
align-items: center;
text-align: center;

}

.caja-border {
box-sizing: border-box;
background-color: #c8e6c9;
border: 10px solid green;
}
.explicacion{
width: 500px;
padding: 20px;
border:white;
background-color: rgb(66, 17, 17);
box-sizing: border-box;
margin-bottom: auto;
margin-bottom: 2%;
text-align: ;
}
body{
 align-items: center;
}

h1,h2{
    text-align: center;
}

margin1{
    margin-bottom: 20px;
}