* { margin: 0; padding: 0; }
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
color: #333;
line-height: 1.6;
}
#titulo-principal {
text-align: center;
color: #0056b3;
font-size: 2.5rem;
}
.contenido {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
margin-bottom: 20px;
padding: 20px;

}
.subtitulo {
color: #666;
margin-bottom: 30px;
font-style: italic;
text-align: center;
}
.h2 {
margin-bottom: 20px;
border-bottom: 0.5px solid #918b8b50;
padding-bottom: 5px;

}
.texto-rojo{
color: #ff0000;
}

.nota {
background-color: #ffdf2c62;
}

footer{
  color: #666;
margin-bottom: 30px;
font-style: italic;
text-align: center;  
}