* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-fondo;
    color: $color-texto;
    font-family: $fuente-principal;
    line-height: 1.6;
    padding: 20px;
}